.btn {
  border: none;
  background: transparent;
  display: flex;
  align-items: center;
  font-size: var(--fz-sm);
  cursor: pointer;
}

.btn span {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.btn svg {
  font-size: var(--fz-ml);
}

.nav_bar {
  z-index: 1000;
  width: 100%;
  background-color: #fff;
  font-size: 1.25rem;
  font-weight: 700;
}

.collapse {
  position: fixed;
  top: 2.5rem;
  left: 0;
  background-color: #fff;
  padding: 2rem;
  height: 100%;
}

@media (min-width: 992px) {
  .collapse {
    position: initial;
    padding: 0;
  }
}
